* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: darkslateblue;
}

.slider-container {
  width: 100%;
  overflow: hidden;
}

.slider {
  display: flex;
  transition: transform 0.5s ease;
}

.slider img {
  flex: 0 0 100%;
  width: 100%;
  height: auto;
}
