* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: darkslateblue;
}

header {
  /* Estilos para el encabezado (puede variar según tus necesidades) */
}

h1 {
  background-color: crimson;
}

main {
  padding-top: 20px; /* Espacio para evitar que los subtítulos queden ocultos detrás del encabezado */
}

h2 {
  position: sticky;
  top: 0px; /* Altura del encabezado */
  background-color: crimson;  /* Color de fondo */
  padding: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Sombra para resaltar el subtítulo */
}

/* Color de fondo para resaltar el subtítulo actual  */
/* h2.current {
	background-color: crimson; 
} */
