body {
  background: url('https://images.unsplash.com/photo-1503264116251-35a269479413?auto=format&fit=crop&w=1400&q=80')
    no-repeat center/cover;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.glass {
  width: 300px;
  height: 200px;
  /* transparencia */
  /* background: rg ba(255, 255, 255, 0.1); */
  background: rgba(0, 0, 0, 0.4);

  /* el efecto de "vidrio" */
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(
    10px
  ); /* para compatibilidad */

  /* backdrop-filter: blur(12px) saturate(150%);
  background: rgba(255, 255, 255, 0.2); */

  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: sans-serif;
}
