#scrollButton {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 99;
  font-size: 16px;
  border: none;
  outline: none;
  background-color: #555;
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 4px;
  opacity: 0;
  transition: opacity 0.1s ease;
}

#scrollButton.active {
  display: block;
  opacity: 1;
}
